{
    "semi": true,
    "singleQuote": true,
    "trailingComma": "es5",
    "bracketSpacing": false,
    "bracketSameLine": false,
    "tabWidth": 2,
    "arrowParens": "always",
    "vueIndentScriptAndStyle": true,
    "printWidth": 100,
    "jsxBracketSameLine": false
  }